<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.startsmall.alarmclockplus"
      android:versionCode="1"
      android:versionName="1.0">

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

  <application android:label="@string/app_name"
               android:icon="@drawable/icon_default_black_bg">
      <provider android:name="AlarmProvider"
                android:authorities="org.startsmall.alarmclockplus" />

      <activity android:name=".AlarmClockPlus"
                android:label="@string/app_name">
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>

      <activity android:name=".preference.AlarmSettings"
                android:theme="@android:style/Theme.NoTitleBar"
                android:label="@string/app_name"/>
      </activity>

      <activity android:name=".AlarmWakup"
                android:theme="@android:style/Theme.NoTitleBar">
      </activity>

      <receiver android:name=".receiver.InitReceiver"
                android:label="Init">
        <intent-filter>
          <action android:name="android.intent.action.BOOT_COMPLETED" />
          <action android:name="android.intent.action.TIME_SET"/>
          <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
        </intent-filter>
      </receiver>

      <receiver android:name=".receiver.ActionDispatcher"
                android:label="Dispatcher">
        <intent-filter>
          <action android:name="org.startsmall.alarmclockplus.DISPATCH_ACTION" />
          <category android:name="android.intent.category.ALTERNATIVE" />
        </intent-filter>
      </receiver>

      <receiver android:name=".receiver.AlarmActionHandler"
                android:label="Alarm">
        <intent-filter>
          <action android:name="org.startsmall.alarmclockplus.ALARM_ACTION" />
          <category android:name="android.intent.category.ALTERNATIVE" />
        </intent-filter>
      </receiver>

      <receiver android:name=".receiver.WifiActionHandler"
                android:label="Wi-Fi"
                android:icon="@drawable/icon_wifi_black_bg">
        <intent-filter>
          <action android:name="org.startsmall.alarmclockplus.ALARM_ACTION" />
          <category android:name="android.intent.category.ALTERNATIVE" />
        </intent-filter>
      </receiver>

  </application>
</manifest>
